.dialogs {
    display:grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog a {
    color:white;
    text-decoration: none;
}
.dialog a.activeLink {
    color:gold;

}

.messages {
    padding: 10px;
}

.messages .message {
    color: gold;
}